footer {
  background-color: $footerbgclr;
  height: 517px;
  width: 100%;
  @include flex(column, center, center);
  align-items: flex-start;

  img {
    width: 176px;
    height: 51px;
    // display: block;  
  }
  .container {
    @include flex(row, start, center);
  }
}
