.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img{
        width: 720px;
        cursor: pointer;
    }

    .text{
        text-align: center;
        margin-top: 35px;

        &.big{
            font-family: Raleway-Bold;
            font-size: 40px;
            width: 734px;
        }
        &.regular{
            font-family: Raleway-Regular;
            font-size: 20px;
            width: 586px;
        }

    }
    .btn{
        background-color: #63E1D9;
        width: 280px;
        height: 56px;
        border-radius: 30px;
        font-family: Raleway-Bold;
        font-size: 16px;
        color: white;
        margin-top: 35px;
        
    }
}