.review-preview {
  background-color: #202a3c;
  border-radius: 3%;
  padding: 26px;
  @include flex(column,center,flex-start);
  .review {
    font-family: OpenSans-Regular;
    font-size: 14px;
    padding-top: 14px;
  }

  .container {
    @include flex();
    gap: 8px;
    padding-top: 26px;

    img {
      border-radius: 100%;
      width: 24px;
    }

    .card {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .name {
        font-family: OpenSans-Bold;
        font-size: 10px;
        width: 100%;
      }
      .job {
        font-family: OpenSans-Regular;
        font-size: 7px;
        width: 100%;
      }
    }
  }
}
