.review-preview {
    background-color: #202A3C;
    border-radius: 3%;
  .container {
    display: flex;
    justify-content: start;
    
  }
  img {
    border-radius: 100%;
    width: 24px;
  }
  .review {
    font-family: OpenSans-Regular;
    font-size: 14px;
    
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .name {
      font-family: OpenSans-Bold;
      font-size: 10px;
      width: 100%;
    }
    .job {
      font-family: OpenSans-Regular;
      font-size: 7px;
      width: 100%;
    }
  }
}
