.review-preview{

    img{
        border-radius: 100%;
        width: 24px;
    }
    .container{
        display: flex;
        justify-content: start;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .name{
            font-family: OpenSans-Bold;
            font-size: 10px;
        }
        .job{
            font-family: OpenSans-Regular;
            font-size: 7px;
        }
    }
}
