// COLORS
// $clr1: #091e42;
$darkblue1: hsl(217, 28%, 15%); //(intro and email sign up background)
$mainbg: hsl(218, 28%, 13%); //(main background)
$footerbgclr: hsl(216, 53%, 9%);//(footer background)
$darkblue4: hsl(219, 30%, 18%); //(testimonials background)

// // LAYOUT
$layoutPaddingMoblie: 20px;
$layoutPaddingDesktop: 80px;
// LAYOUT BREAKPOINTS
$break-narrow: 375px;
$break-normal: 1440px;


// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;

